header:has(svg[aria-label="Instagram"]), /* Instagram header */
div:has(> a[href*="/accounts/signup/phone"]:only-child), /* Sign up for Instagram */
div[class*="html-div"] > a[href*="/reels/"] + div { /* Follow button after username */
    display: none;
}

a[href*="/accounts/signup/phone"]:hover {
    background-color: white; /* Change "Watch again" button highlight color */
}

div[id*="video-iv-overlay"] {
    padding-bottom: 0; /* Remove extra padding below video description */
    background-image: linear-gradient(to top, #00000059 0%, #00000000 30%); /* Remove top header overlay */
}

div:has(> div[role="button"] svg[aria-label="More"]) {
  margin-bottom: 0; /* Remove spacing below more button */
}

svg[aria-label="Like"],
svg[aria-label="Comment"],
svg[aria-label="More"] {
    opacity: 0.5; /* Display buttons as disabled */
}

div.html-div[style*="--x-maxHeight"] + div {
    pointer-events: auto; /* Allow taps on buttons */
    margin-bottom: 16px !important; /* Match description offset */
}

/* Video description */
div.html-div[style*="--x-maxHeight"] {
    margin-bottom: 16px;
}
div.html-div[style*="--x-maxHeight"] div {
    height: auto;
}
div.html-div[style*="--x-maxHeight"] span:nth-of-type(1) {
    white-space: unset;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
div.html-div[style*="--x-maxHeight"] span:nth-of-type(2) {
    display: none;
}
div.html-div[style*="--x-maxHeight"] div:last-child {
    pointer-events: none;
}
