nav > div {
    height: var(--mobile-nav-height) !important; /* Remove extra space below header */
}

div.html-div h2 {
    line-height: 1.5; /* Fix squished username */
}

div[aria-disabled="false"] > div {
    margin-top: 12px; /* Fix username alignment */
}

header > div > div > div > div:last-child, /* Open app" header button */
div.html-div:has(div[role="dialog"]) { /* See full profile in the app modal */
    display: none;
}

svg[aria-label="Instagram"] {
    pointer-events: auto; /* Allow taps on Instagram logo */
}

div[style*="--x-width: 34px"] {
    pointer-events: auto; /* Allow taps on vertical dots after username */
}

body > div[id*="mount"] {
    pointer-events: none; /* Disable taps besides those manually set to auto */
}

header:has(~ :last-child) ~ :last-child header ~ :last-child {
    pointer-events: auto; /* Allow taps on post thumbnails */
}

header:has(~ :last-child) ~ :last-child header section:last-child span span {
  display: none; /* Hide "...more" at end of description */
}

body > div[id*="mount"] header > div > div:last-child,
body > div[id*="mount"] div[role="dialog"] button,
body > div[id*="mount"] div[role="tablist"],
body > div[id*="mount"] header > header > section > div > div > div:last-child {
    pointer-events: auto; /* Allow tapping on tab bar items */
}
